.posts-contrainer{
  position: relative;
}

.posts {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  grid-gap: 50px; /* Adjust the gap between grid items */
  padding: 30px; /* Add padding to the grid */
  margin: 0; /* Remove margin */
  margin-top: 0px; /* Add margin top */
  max-width: 100%; /* Prevent posts from overflowing horizontally */
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Add fade-in animation */
.post {
  margin-top: 50px;
  margin-bottom: 5px; /* Adds space between posts */
  border: 1px solid #ccc; /* Adds a border around each post */
  padding: 0px; /* Adds padding inside each post */
  width: 400px; /* Adjusts the width of the posts */
  min-height: 500px;
  opacity: 0; /* Initially hide posts */
  animation: fadeIn 0.5s ease forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 5px; /* Add margin to the top and bottom, and 0 margin to the left and right */
}

.postImg:hover {
  opacity: 0.9; 
}

.addPostButton {
  margin-top: 215px;

  position: absolute;
  z-index: 100; /* Ensure it's above other content */
 
}


/* Media query for smaller screens */
@media screen and (max-width: 800px) {
  .posts {
    display: flex;
    flex-wrap: wrap; /* Allow posts to wrap to the next line */
    justify-content: center; /* Center the posts horizontally */
  }

  
}
