@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body{
  font-size: 14px;
  color: #ffffffbe;
}

.waveImage {
  width: 100%;
  height: 150px;
}

.tc_wrap{
  width: 800px;
  max-width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.781);
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tc_wrap .tabs_list{
  width: 200px;
  background: #00000056;
  height: 100%;
}

.tc_wrap .tabs_content{
  width: calc(100% - 200px);
  padding: 0 10px 0 20px;
  height: 100%;
}

.tc_wrap .tabs_content .tab_head,
.tc_wrap .tabs_content .tab_foot{
  color: #FFBF00;
  padding: 25px 0;
  height: 70px;
}

.tc_wrap .tabs_content .tab_head{
  text-align: center;
}

.tc_wrap .tabs_content .tab_body{
  height: calc(100% - 140px);
  overflow: auto;
}

.tc_wrap .tabs_list ul{
  padding: 70px 20px;
  text-align: right;
}

.tc_wrap .tabs_list ul li{
  padding: 10px 0;
  position: relative;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li:before{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 2px;
  height: 100%;
  background: #FFBF00;
  opacity: 0;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li.active,
.tc_wrap .tabs_list ul li:hover{
  color: #FFBF00;
}

.tc_wrap .tabs_list ul li.active:before{
  opacity: 1;
}

.tc_wrap .tabs_content .tab_body .tab_item h3{
  padding-top: 10px;
  margin-bottom: 10px;
  color: #FFBF00;
}

.tc_wrap .tabs_content .tab_body .tab_item p{
  margin-bottom: 20px;
}

.tc_wrap .tabs_content .tab_body .tab_item.active{
  display: block !important;
}

.tc_wrap .tabs_content .tab_foot button{
    width: 125px;
    padding: 5px 10px; 
    background: transparent;
    border: 1px solid;
    border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 900px) {
  .tc_wrap {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .tc_wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 12px;
  }

  .tabs_list ul {
    padding: 20px;
  }
}
