.blogHead {
    height: auto;
    padding-top: 80px;
    margin-top: -8px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.blogHead span {
    margin-left: 5%;
    font-weight: bold;
    font-size: 24px; /* Adjust as needed */
    white-space: pre;
}
