@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Import poping*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap'); /*Import Ubuntu*/
.CircBar {
    display: flex;
    flex-direction: column;
}
/*Apply the Oswald font to your elements */
.welcome {
    color: rgb(16, 16, 14);
    margin-top: 80px;
    background-color: #f2c746;
    border-radius: 40px;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 280px;
    padding-left: 10px;
    padding-right: 76px;
    text-align: center;
    font-weight: 550;
    height: 100px;
    width: 800px;
      /* New properties */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    
    
}
.welcome p{
    flex-wrap: wrap;
}
.Wpic{
    width: 300px;
    height: 300px;
    margin-top: -190px;
    margin-left: 980px;
    z-index: -1; /* Ensures the background image stays behind the content */
}

.btn {
    justify-content: space-between;
    background-color: rgb(250, 250, 249);
    color: black;
    width: 200px;
    height: 100px;
    box-shadow: 0 0 10px #FFC533;
    border-radius: 40px;
    margin-left:70px; 
    margin-top: 100px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    transition: all 0.8s ease;
    font-weight: bold;
    color:#555249;
}
.setDiv p{
    font-weight: 300;
    margin-top: 50px;
   
}
.veiwDiv p{
    font-weight: 300;
    margin-top: 50px;
    padding-bottom: 20px;
}
.getDiv p{
    font-weight: 300;
    margin-top: 48px;
    
}

.setDiv p::after {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-image: url('https://i.ibb.co/jWzGrwp/pic2-removebg-preview.png');
    background-size: cover;
    margin-left: 90px;
    margin-top: 50px;
    transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
    
}

.setDiv p:hover::after {
    width: 210px;
    height: 210px;
}


.veiwDiv p:hover::after {
    width: 210px;
    height: 210px;
}
.veiwDiv p::after {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background-image: url('https://i.ibb.co/DfQFkGs/pic3-removebg-preview.png');
    background-size: cover;
    margin-left: 90px;
    margin-top: 50px;
    opacity: 0; /* Start with 0 opacity to hide the image initially */
    transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
    opacity: 5; 
}

.getDiv p:hover::after {
    width: 210px;
    height: 210px;
}
.getDiv p::after {
    content: '';
    display: block;
    width: 200px;
    height: 220px;
    background-image: url('https://i.ibb.co/8Mgqh4Z/pic4-removebg-preview.png');
    background-size: cover;
    margin-left: 90px;
    margin-top: 75px;
    opacity: 0; /* Start with 0 opacity to hide the image initially */
    transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
    opacity: 5; 
}

.topHed {
    margin-left: 5%;
   padding-top: 10px;
    font-weight: bold;
    font-size: 24px; /* Adjust as needed */
    white-space: pre;
}

.intro{
    display: flex;
    margin-top: -10px;
}


.trackInt h1,
.VeiwSpro h1,
.getTip h1 {
    margin-left: 30px;
    margin-top: 18px;
}

.calMeter{
    background-image: url('');
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
    .topHed span {
        font-size: 45px; /* Adjust as needed */
    }
}

/*ProductList css*/
/* Media query for small screens */
@media screen and (max-width: 768px) {
    .main {
        width: 100%; /* Full width on small screens */
        margin-left: 15px;
        margin-top: 10px; /* Adjust as needed */
    }
}

.product-list{
   
    width: 600px;
   
    height: 40px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
   
}
.product-card{
    width: 400px;
    background-color: #eeece8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
    border: 2px solid #9480B9;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
    transition: box-shadow 0.3s ease; /* Smooth transition on hover (optional) */
}
.product-card img{
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.2s;           
}

.product-card:hover {
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover (optional) */
}
.details{
    width: 150px;
    height: 100px;
    
    background-color: wheat;
}
.details h1{
    font-weight: bold;
    color: #d2970d;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .product-card {
      width: 100%; /* Set width to 100% for smaller screens */
      margin-right: 0; /* Remove right margin on smaller screens */
    }
  }
  @media (max-width: 768px) {
    .product-card {
      width: 100%; /* Set width to 100% for smaller screens */
      margin-right: 0; /* Remove right margin on smaller screens */
    }
  }

  .progress-bar p{
    font-size: 8px;
   
  }
 .menuIcon{
    margin-left: 350px;
    margin-top: 10px;
 }
 .cbtn{   
    background-color: rgb(23, 23, 2);
    color: rgb(255, 251, 251);
    width: 130px;
    height: 40px;
    
    border-radius: 30px;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;

 }
 .cbtn:hover {
    background-color: #ffd700;
    color: #06070b;
}
.inputContr{
    width: 400px;
    height: 350px;
    background-color: rgb(255, 251, 251);
    margin-top: 70px;
    margin-left: 140px;
    border-radius: 50px;
    box-shadow:
        0px 0px 6px 3px #FFC533, /* Bottom */
        0px 0px 6px 3px #FFC533; /* Left */ 
}
input::placeholder {
    color: rgb(255, 251, 251);
    
}

.inputContr h3{
    color: #08060c;
    padding-top: 60px;
    margin-left: 70px;
    font-size: 20px;
}
.inputContr p{
    color: #fe2e46;
    margin-top: 15px;
    margin-left: 180px;
    font-size: 20px;
}


.userInput{
    margin-top: 30px; 
    width:250px;
    height: 60px;
    background-color: #625e53;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 251, 251);
    font-size: larger;
    padding-left: 80px;
    margin-left: 80px;
    border-radius: 20px;
    font-weight: lighter;

}
#setGoalbtn{
    margin-left: 140px;
    margin-top: 55px;
    background-color: black;
    color: rgb(255, 251, 251);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
#setGoalbtn:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #FFC533;
    color: rgb(26, 24, 24);
}
.setgoalContainer{
    margin-top: 30px;
    margin-left: 4px;
    padding-top: 8px;
    font-size: 15px;
    height: 500px;
    background-color: rgb(255, 251, 251);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.circBar{
    margin-left: 660px;
    height: 400px;
    width: 400px;
    padding-top:50px;
    border-radius: 50px;
    padding-left: 50px;
    display: flex;
    margin-top: -380px;
    
}
#count{
    color:rebeccapurple;
}


@media screen and (max-width: 768px) {
    .resposiveCon{
        width: 100%; 
        
    }
    .CircBar {
        margin-left: 5%;
    }
    #wPic {
        display: block; /* Ensure the image is displayed as a block element */
        width: 300px;

    }
    .intro {
        width: 100%; /* Full width on small screens */
        margin-left: 15px;
        margin-top: 10px; }

    .menuIcon {
        margin-left: 5%;
        margin-top: 10px;
    }

    .addDuctBtns {
        margin-top: 20px;
        margin-left: 5%;
    }

    .userInput {
        width: 80%;
        margin: 0 auto;
    }

    .inputContr {
        width: 90%;
        margin: 50px auto;
    }

    .setgoalContainer {
        width: 90%;
        margin: 20px auto;
    }

    .welcome {
        margin-left: 5%;
    }

    .topHed span {
        font-size: 30px;
    }

    .intro {
        flex-direction: column;
        height: auto;
    }
    .displayFlex{
        width: 100%;
    }

    .welcome img {
        width: 100%;
        
        
    }

    .product-list {
        width: 90%;
        margin: 50px auto;
    }

    .product-card {
        width: 90%;
        margin: 20px auto;
    }

    .progress-bar p {
        font-size: 12px;
    }
}