.main-contr{
    padding-left: 50px;
}


.tips-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 500;
    margin-top: 50px;
    
}
.tip-card::before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-color: #FFC533;
    border: 3px solid #332A14;
    color: rgb(165, 34, 7);
    border-radius: 50%;
    transition: all 0.3s ease;
    margin-left: -50px;
    margin-top: 30px;
    
    
   
}

.tip-card:hover::before{
    width: 80px;
    height: 80px;
    
}
.tip-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding-left: 80px;
    border-radius: 80px;
    width: 500px;
    height: 130px;
    margin-bottom: 50px;
    margin-right: 198px; /* Adjust the margin-right to increase space between columns */
   
}



.tip-topic {
    margin-top: -80px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(106, 51, 3);
}

.tip-description {
    margin-top: 10px;
    margin-left: 40px;
}
