body{
  margin:0;
  padding: 0;
  overflow-x: hidden;
  font-family:"Poppins" ;
}
.background-cover {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the background cover is behind other content */
}

.background-cover img{
  width: 100%;
  height: auto;
  max-height: 700x; /* Set maximum height */
}


.contact-container {
  max-width: 900px;
  margin: auto;
  padding: 100px;
}

.contact-content {
  position:absolute;
  left:60%;
  margin-left: auto;
  transform: translate(-10%,10%);
  background-color: #fff6c1;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 30px;
}

.contact-form {
 
  width: calc(100% - 0px); 
  margin-right: 150px;
}

.form-group input{
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
}

.contact-info img {
  width: 25px; /* Adjust image size as needed */
  height: auto;
  margin-right: 15px;
}

.contact-content img{
    width: 23px; /* Adjust image size as needed */
    height: 24px;
    margin-top: 25px;
   margin-right: 10px;
}

.message{
  display: flex;
  font-size: 18px;
  margin-top: -10px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  width: 90%;
  background:#fffdf0;
  margin-top: 1px;
  margin-bottom: 15px;
  outline: none;
  font-size: 1em;

}
.input-box textarea::placeholder {
  font-size: 13px;
}

.input-box input::placeholder{
  font-size: 13px;
}

textarea {
  width: calc(100% - 10px); /* Adjust width of textarea */
  margin-bottom: 20px; /* Add bottom margin for spacing */
  background-color:#352b0983;
}

.submit-button {
  padding: 9px 17px;
  background-color: #ffcc23;
  color:rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color:#000000 ;
  color:rgb(255, 255, 255);
}

.additional {
  margin-top: -190px;
  width: 40%; /* Adjust the width as needed */
  padding: 1px;
  margin-left: 180px; /* Add some right margin to separate from the form */
  border-radius: 10px;
}
.additional h2 {
  color: #000000;
  font-size: 57px;
}
 .additional p{
  margin-top: 50px;
  font-size: 15px;
  color: #000000;
  line-height: 1.5;
  white-space: pre-wrap;
  text-align: justify;
  margin-right: 1px;
 }
 .contact-cards {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  justify-content: center; /* Center content vertically */
  max-width: 1100px; /* Adjust max-width as needed */
  margin: auto; /* Center the contact info horizontally */
  margin-top: 130px; /* Adjust top margin as needed */
  margin-left: 180px;

}

.contact-info {
  display: flex; /* Display content horizontally */
  align-items: center; /* Center content vertically */
  padding: 15px;
  border: 1px solid hsl(48, 100%, 50%);
  border-radius: 10px;
  box-shadow: 3px 3px 3px #fff6c1;
  width: 360px; /* Set the desired width for the contact cards */
  margin-bottom: 20px; /* Add space between cards */
  transition: transform 0.2s ease-in-out; /* Define the transition property */
  height: 25px;
 
}

.contact-info:hover {
  transform: translateY(-5px); /* Apply transform on hover */
  background-color: rgb(255, 242, 127);
}

.contact-info img {
  width: 25px; /* Adjust image size as needed */
  height: auto;
  margin-right: 15px;
}

.contact-info h2 {
  margin: 0; /* Adjust margin around title */
  font-size: 18px;
}

.contact-info p {
  margin-left: 10px; /* Remove default margin for paragraph */
  font-size: 15px;

}.wrapper {
  display: flex; /* Display as flex container */
  flex-direction: row; /* Arrange items horizontally */
 
  margin-left: 180px;
}

.button {
  margin: 0 25px; /* Add spacing between buttons */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.icon:hover img {
  transform: scale(1.1);
}

.socials {
  margin-top: 36px;
  width: 40%; /* Adjust the width as needed */
  padding: 1px;
  margin-left: 180px; /* Add some right margin to separate from the form */
  border-radius: 10px;
}
.socials h3 {
  color: #333;
  font-size: 45px;
}

.map{
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
}
.map iframe{

  top: 30px;
  border: 0;
  height: 65%;
  width: 100%;
  position:absolute;
}

.map-title h2{
  text-align: center;
margin-top: 0;
  font-size: 40px;
  margin: 0;
 
}

.chat {
  position: absolute;
  top: 92%; /* Adjust as needed */
  left: 55%; /* Align to the left side of the page */
  width: 50%; /* Adjust the width as needed */
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.chat h3 {
  font-size: 39px;
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.map-title{
  margin-top: 90px;
}
.chat p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-right: 50px;
}
 
.find-us {
  display: flex;
  align-items: center;
}

.find-us img {
  width: 30px; /* Adjust the width of the icon */
  height: auto;
  margin-left: 540px; /* Adjust margin between icon and text */
  margin-bottom: -62px;
}


.middle{
  position: absolute;
  top: 120%;
  left: 55.7%;
  text-align: center;
} 

a.btn{
  background: none;
  border: 2px solid hsl(48, 100%, 50%);
  padding: 6px 18px;
  text-decoration: none;
  color: #000000;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

a.btn:hover{
  color:#000000;
}

a.btn::before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsl(48, 100%, 50%);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
a.btn::before{
  transform: scaleX(0);
}
a.btn:hover::before{
  transform:scaleY(1);
}

/* CSS for revealing elements on scroll */
.socials, .chat, .middle {
  opacity: 0; /* Initially hide the elements */
  transform: translateY(20px); /* Move the elements down initially */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Add smooth transition */
}

.socials.reveal, .chat.reveal, .middle.reveal {
  opacity: 1; /* Reveal the elements */
  transform: translateY(0); /* Move the elements to their original position */
}

@media only screen and (max-width: 900px) {


  .contact-content {
    position: relative; /* Change position to relative for smaller screens */
    bottom: 10%; /* Reset top position */
    left: 0; /* Reset left position */
    transform: none; /* Reset transform */
    width: 100%; /* Set width to 100% */
    margin: 0; /* Reset margin */
    padding: 50px 20px; /* Adjust padding for smaller screens */
  }

  .contact-form {
    margin-top: 20px; /* Adjust the top margin as needed */
    width: 100%; /* Set width to 100% for smaller screens */
    margin-left: auto; /* Align the form to the center horizontally */
    margin-right: auto;
  }

  .contact-container {
    max-width: 650px;
    margin-top: 480px;
    padding: 100px;
  }

  .additional {
    width: 100%; /* Set width to 100% for smaller screens */
    margin-left: 0; /* Remove left margin */
    margin-top: 35px; /* Adjust top margin for smaller screens */
  }
  .additional h2{
    text-align: center;
    margin-top: -1180px;
    font-size: 2.5rem;
  }
  .message h2{
    margin-top: -10px;
    font-size: 25px;
  }
.message img{
  margin-top: 0;
}
  .additional p{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    
  }

  .contact-cards {
    margin-top: -920px; /* Adjust top margin for smaller screens */
    max-width: 450px;  

    margin-left: 0;  
    height: auto;
 
  }

  .contact-info {
    align-items: center; /* Center content vertically */
    padding: 15px;
    margin-left: auto;

  }
  .socials {
    margin-top: 585px;
    width: 100%; /* Adjust the width as needed */
    padding: 1px;
    margin-left: 0; /* Add some right margin to separate from the form */
    border-radius: 10px;
    align-items:center;
  }



.socials h3{
  text-align: center;
}
.wrapper {
  display: flex;
  margin-left: 0;
  justify-content: center;

  flex-direction: row;
}
  .chat {
    position: relative;
    left: auto; /* Align to the left side of the page */
    width: auto; /* Adjust the width as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .chat h3{
    text-align: center;
  }

.chat p{
  margin: auto;
  text-align: center;
}
  .middle{
    position: relative;
    left: auto;
    
  }



 h2 {
    font-size: 1.9rem;
    margin-top: 60px;
    margin-bottom: -150px;
  }

   h3 {
    font-size: 1.5rem;
  }
 .additional p {
  margin-top: 200px;
    font-size: 0.875rem;
    position: relative;
    text-align: justify;
    margin-right: 9px;
  }

}